<!DOCTYPE html>
<html>
<head>
	<title> LIST LOVER </title>

 	<!-- Include meta viewport tag to give browser instructions on how to control page dimensions/scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Customized stylesheet -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Bungee|Fjalla+One|Orbitron|Ravi+Prakash|Russo+One" rel="stylesheet">
    <!-- Font Awesome link which enable fonts and icons.  -->
    <script src="https://use.fontawesome.com/9763ef17ba.js"></script>
</head>
<body>
{{!-- Where we will insert all of the inputs --}}
<header class = "text-center">
	<h1> <img src="../../public/assets/img/robot.png">Welcome to List Lover </h1>
	
</header>
	{{{body}}}



	<!-- jQuery library (necessary for Bootstrap & other JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>

    <script type="text/javascript ">
    // function setError(){
    // alert("Please complete fields");


 
    // $('#addBtn').on('click', function() {
    // 	// var name = $('#userName');
    // 	// var photo = $('#photoID');
    // 	// if((name =="") || (photo == "")){
    //  //    setError();
   	// 	// }

    //     // initializes an intial array to store the selected scores
    //     var answersArray = [];
    //     var scoreSum = 0;
    //     // create a jquery .each function to create an array of the scres
    //     $('.questions').each(function(index, value) {
    //         var selection = $(this).val();
    //         scoreSum = scoreSum + parseInt(selection);

    //         // pushing each selection to the array
    //         answersArray.push(selection);
    //     });
    //     // return scoreSum;
    //     console.log("Here is the the total score of the user input: ", scoreSum);

    //     // console.log("answersArray", answersArray);
    //     var newUser = {
    //         name: $('#userName').val().trim(),
    //         photo: $('#photoID').val().trim(),
    //         scores: answersArray,
    //         scoreSum: scoreSum

    //     };
    //     // console.log("Newuser: ", newUser);
    //     var currentURL = window.location.origin;

    //     // This takes the html input and sends it to the app.post route
    //     $.post(currentURL + '/survey', newUser)
    //         .done(function(data) {
    //             $('input').val(" ");
    //             $('select').val(" ");
    //             // alert("TEST ");
    //             console.log("data: " + JSON.stringify(data.photo));
    //             // alert("Thanks for taking the survey")
    //             var image = $('<img src="' + data.photo + '" width="100%" height="auto" alt="match-person">');
    //             $('#insertPhoto').append(image);
    //             $('#matchName').append("Hi I am: " + data.name);
    //             // $('#insertPhoto').backstretch(data.photo);
    //             $('#personModal').modal('show');

    //         });

    //     return false;
    // });
    // </script>

</body>
</html>

