body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ccc;

}

a {
  color: #00B7FF;
}

img {
	height: 100px;
	width: 100px;

}
li {
	font-size: 20px;
	padding: 10px;
}

.container {
	width: 90%;
}

.writing {
	font-family: 'Reenie Beanie', cursive;
	/*font-family: 'Nothing You Could Do', cursive;*/
	font-size: 35px;
}



#task {
	font-size: 40px;
}

label { 
	font-size: 1.5em;
 }

.card-panel{
	/*padding: 10px;*/
	width: 80%;
	
	padding-bottom: 40px;
}
button {
	margin-top: 10px;

}
/*.complete_float {
	clear:both;
}

.trash_float {
	clear:both;
}*/

